
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <title>Mongoose Flight Lab</title>
    </head>
    <body>	
<!-- Where the previous info lies  -->

<section id="show-page">
  <table id="show-table">
    <tr class="top-table">
      <th>Airline: </th>
      <td><%= flight.airline %></td>
    </tr>
    <tr class="top-table">
      <th>Airport: </th>
      <td><%= flight.airport %></td>
    </tr>
    <tr class="top-table">
      <th>Flight Number: </th>
      <td><%= flight.flightNo %></td>
    </tr>
    <tr class="top-table">
      <th>Departs: </th>
      <td><%= flight.departs %></td>
    </tr>
  </table>
</section>
          
<!-- where the destination submit box is  -->

<br><br><h2>Destinations</h2>
<form id="add-flight-info" method="POST"
  action="/flights/<%= flight._id %>/destinations">

  <label>Airport:
    <select name="airport">
      <option value="ATL">ATL</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
    </select>
  </label>

  <label>Arrival:
    <input type="datetime-local" name="arrival">
 </label><br>
  

  <input type="submit" value="Add Destination">
</form>

<!-- where the destination information will be posted -->

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(f) { %>
        <tr>
          
          <td><%= f.airport %></td>
          <td><%= f.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>
    </body></html>

