<!-- <h2>Destination</h2>
	<form action="/flights/" method="POST"> -->
	
<!-- Where the previous info lies  -->

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
  

</section>
          
<!-- where the destination submit box is  -->

<br><br><h2>Destinations</h2>
<form id="add-flight-info" method="POST"
  action="/flights/<%= flight._id %>/destinations">

  <label>Airport:
    <select name="airport">
      <option value="ATL">ATL</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
    </select>
  </label>

  <label>Arrival:
    <input type="datetime-local" name="arrivals">
 </label><br>
  

  <input type="submit" value="Add Destination">
</form>

<!-- where the destination information will be posted -->



